<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektrarny</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Elektrarny Index</h1>
    <h4>Aneb jak si kdo vede</h4>
    <a href="/powerplants/plants"> Nabidka elektraren </a>, <a href="/powerplants/rules"> Pravidla </a>
    <div class="row">
        <div class="column">
            <h2> Hraci </h2>
            <table>
                <tr>
                    <th class="list"> Name </th>
                    <th class="list"> Finance </th>
                </tr>
                {% for user in users %}
                <tr>
                    <td class="list"> <a href="/powerplants/users/{{ user.id }}"> {{ user.name }}</a> </td>
                    <td class="list"> {{ user.finance }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="column">
            <h2> Firmy </h2>
            <table>
                <tr>
                    <th class="list"> Name </th>
                    <th class="list"> Finance </th>
                </tr>
                {% for company in companies %}
                <tr>
                    <td class="list"> <a href="/powerplants/companies/{{ company.id }}"> {{company.name }} </a> </td>
                    <td class="list"> {{ company.finance }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
