<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plants</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h2> Nabidka elektraren </h2>
        {%- for val in range(amount) -%}
        {{ types[val] }}
        <ul>
            {%- for cost in prices[val] -%}
            <li> 
                <input type="checkbox"/> {{ cost }} 
            </li>
            {%- endfor -%}
        </ul>
        {%- endfor -%}
    </body>
</html>
