{% extends "plant_base.html"%}
{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1> {{ user.name }} </h1>
Firma: <a href="/powerplants/companies/{{ user.company.id }}"> {{ user.company.name }} </a> </br>
<b> Finance: </b> {{ user.finance }} </br>

{% if count != 0 %}
<h2> Elektrarny: </h2>
{% set vars = {'last':plants[0].type, 'column':0} %}
<div class="row">
    <div class="column">
        <h2> {{ types[vars.last] }} </h2>
        <table>
            <tr>
                <th> Cena </th>
                <th> Vek </th>
            </tr>
        {% for plant in plants if plant.active %}
        {% if vars.last != plant.type %}
            {% if vars.update({'last': plant.type}) %} {% endif %}
            {% if vars.update({'column':vars.column + 1}) %} {% endif %}
        </table>
    </div>
        {% if vars.column % 2 == 0 %}
</div>
<div class="row">
        {% endif %}
    <div class="column">
        <h2> {{ types[plant.type] }} </h2>
        <table>   
            <tr>
                <th> Cena </th>
                <th> Vek </th>
            </tr>
        {% endif %}
            <tr>
                <td> {{ plant.cost }} </td>
                <td> {{ plant.age }} </td>
            </tr>
    {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
